:root {
    --width: 300px;
    --height: 400px;
}

.card {
    cursor: pointer;
    position: relative;
    width: var(--width);
    height: var(--height);
    perspective: 1000px; /* enables 3D space */
}

.card:hover {
    transform: translateY(-6px);
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d; /* allow front & back to rotate */
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* hides reversed side */
    border: 3px solid whitesmoke;
    border-radius: 10px;
    background-color: #242424;
}

.card-front:hover,
.card-back:hover {
    box-shadow: 0 0 13px #00BFFF;
}

.card-back {
    border: 6px solid whitesmoke;
    background-image: url('../assets/images/card-design.jpg');
    background-position: center;
    background-size: cover;
}

.card-back {
    transform: rotateY(180deg);
}

.card-front {
    display: flex;
    flex-direction: column;
}
.card-header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
}

.card-number {
    position: relative;
    top: -0.75rem;
    left: -0.75rem;
    border-right: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    padding: 10px;
    border-radius: 10px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:     
        0 0 5px var(--color-tertiary),
        0 0 7px var(--color-tertiary),
        0 0 61px var(--color-tertiary),
        0 0 2px var(--color-tertiary);
}

.card-avatar img {
    width: 100%;
    height: 195px;
    object-fit: contain;
}

.label-bar {
    width: 100%;
    text-align: center;
    padding: 6px 0;
    border-top: 2px solid white;
    font-size: 1rem;
    font-style: italic;
}

.card-title {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: auto;
}