.main-container {
    display: flex;
    justify-content: space-center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 12px;
}

.deck-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.deck {
    position: relative;
    width: 300px;
    height: 400px;
    margin-bottom: 1rem;
    transition: transform 0.2s ease;
}

.deck .card {
    position: absolute;
    top: 0;
    left: 0;

    --i: 0;
    transform: translate(0, calc(var(--i) * 10px)) scale(0.7);
}

.deck .card.draw-card {
    transform: translateX(-30px) rotate(-8deg) scale(0.8);
    opacity: 1;
    transition: transform 305ms ease;
}

.deck .card.slide {
    transition: transform 0.65s cubic-bezier(.17,.67,.27,1.4), 
            left 0.65s cubic-bezier(.17,.67,.27,1.4),
            top 0.65s cubic-bezier(.17,.67,.27,1.4),
            opacity 0.3s ease-out;

    transform: rotateY(180deg) scale(1.25);
}

.deck-container .btn-container {
    display: flex;
    justify-content: center;
}

.overlay, .game-over-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.75);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-out;
}

.overlay.show, .game-over-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

#draw-card-btn.disable {
    opacity: 0.7;
    text-decoration: line-through;
    pointer-events: none;
}

@media only screen and (max-width: 800px) {
    .deck-container {
        transform: scale(0.7);
        flex-direction: column;
        width: 100%;
    }
}